body{
  background-color: black;
}
div{
  background-color: white;
  width: 600px;
  height: 700px;
  margin: 10px auto;
  background-image: url('../images/mic.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.text-center{
  text-align: center;
  padding: 10px ;
}
h3{
  color: red;
  padding: 10px;
}
h1{
  background-color: black;
  background-clip: content-box;
  color: white;
  line-height: 60px;
}
ul{
  list-style: none;
}